<div class="p-4 bg-gray-900 text-white">
    <table class="w-full border-collapse border">
        <thead>
            <tr class="bg-gray-800 text-white">
                <th class="p-2">First Name</th>
                <th class="p-2">Last Name</th>
                <th class="p-2">Preferences</th>
                <th class="p-2">Gender</th>
                <th class="p-2">Options...</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players" class="hover:bg-gray-700">
                <td class="p-2">
                    <input type="text" [(ngModel)]="player.firstName" class="w-full bg-white rounded-md p-2 text-black"
                        disabled />
                </td>
                <td class="p-2">
                    <input type="text" [(ngModel)]="player.lastName" class="w-full bg-white rounded-md p-2 text-black"
                        disabled />
                </td>
                <td class="p-2">
                    <div>
                        <span *ngFor="let preference of player.preferences" class="mr-2 text-white">{{ preference
                            }}</span>
                    </div>
                </td>
                <td class="p-2 text-white text-center">{{ player.gender }}</td>
                <td class="p-2">
                    <button type="button" (click)="delete(player.id)"
                        class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-md transition-opacity duration-300 focus:outline-none">Delete</button>
                </td>
            </tr>
            <tr *ngIf="players.length == 0">
                <td colspan="5" class="font-bold text-center text-red-500 p-2">No Players</td>
            </tr>
            <tr class="text-white">
                <td class="p-2">
                    <input type="text" [(ngModel)]="createdPlayer.firstName"
                        class="w-full bg-white rounded-md p-2 text-black" />
                </td>
                <td class="p-2">
                    <input type="text" [(ngModel)]="createdPlayer.lastName"
                        class="w-full bg-white rounded-md p-2 text-black" />
                </td>
                <td class="p-2">
                    <select multiple [(ngModel)]="createdPlayer.preferences"
                        class="w-full bg-white rounded-md p-2 text-black">
                        <option *ngFor="let preference of preferences" [ngValue]="preference">{{ preference }}</option>
                    </select>
                </td>
                <td class="p-2">
                    <select [(ngModel)]="createdPlayer.gender" class="w-full bg-white rounded-md p-2 text-black">
                        <option *ngFor="let gender of genders" [ngValue]="gender">{{ gender }}</option>
                    </select>
                </td>
                <td class="p-2">
                    <button type="button" (click)="create()"
                        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md transition-opacity duration-300 focus:outline-none">Create</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>