<div class="w-full max-w-xs mx-auto mt-8">
    <div *ngIf="errors.length > 0" class="bg-red-100 border border-red-500 text-red-700 p-4 rounded-md mb-4">
        <p *ngFor="let error of errors" class="mb-2"><strong>Error:</strong> {{ error }}</p>
    </div>

    <div *ngIf="teams.length > 0" class="mb-4">
        <h1 class="text-3xl font-bold mb-2">Select Team</h1>
        <select [(ngModel)]="selectedTeamId"
            class="w-full border border-gray-300 p-2 rounded-md focus:outline-none text-black">
            <option [ngValue]="team.id" *ngFor="let team of teams">{{ team.name }}</option>
        </select>
        <button type="button" (click)="select()"
            class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md transition-opacity duration-300 focus:outline-none">Select</button>
    </div>

    <div>
        <h1 class="text-3xl font-bold mb-2">Create Team</h1>
        <label for="teamName" class="block text-gray-700 text-sm font-bold mb-2">Team Name:</label>
        <input id="teamName" type="text" [(ngModel)]="team.name" placeholder="Team Name"
            class="w-full border border-gray-300 p-2 rounded-md focus:outline-none" />
        <button type="button" (click)="create()"
            class="mt-4 bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md transition-opacity duration-300 focus:outline-none">Create</button>
    </div>
</div>